*{
    text-decoration: none;
    color: black;
    align-items: center;
    background-color:#c89116;
}
body{
    background-color: #c89116;
}
.barra{
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1pt;
    text-align: center;
}
.lateral{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.bl{
    margin: 1em;
}
.imagen{
    width: 20em;
}
.perfil{
    width: 16em;
}
:root{
    --marron:#400202;
}
h1,h3{
    color: var(--marron);
}
h3{
    text-align: center;
}
#SobreMi{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin: 2em;
    height: 45em;
}
.y{
    width: 14em;
    position: relative;
    top: 1em;
    font-size: 3em;
    text-align: center;
}
.k{
    width: 54em;
    font-size: 22px;
    padding: 2em;
    margin: 2em;
    margin-top:1em;
    margin-bottom: 1em;
    text-align: justify;
}
.e{
    margin: 0;
    margin-top: 1em;
    width: 39em;
}
.diferentesCerti{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.ingles, .excel{
    border: 3px solid #b720209e;
    width: 13em;
    height: 7em;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 2em;
}
.ingles p, .excel p, .info {
    display: none;
    margin-top: 10px;
}
.imagen-pequena {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.imagen-grande {
    width: 300px;
    transform: scale(1.5);
}
.botonV{
    width: 4em;
    height: 3em;
    border: 2px solid #406405;
    background-color: #096c096b;
    border-radius: 1em;
    color: #0b2604;
    cursor: pointer;
}
#cosas{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 2em;
    height: 45em;
    align-content: center;
    justify-content: space-around;
}
.mision, .vision, .valores{
    width: 20em;
    text-align: justify;
}
.valores{
    width: 45em;
}
.contato {
    border: 3px solid #b720209e;
    width: 28em;
    height: 13em;
    text-align: left;
    padding: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 2em;
    position: relative;
    left: 13em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-around;
}
#Objetivo {
    width: 33em;
    border: 3px solid #075406;
    border-radius: 2em;
}