*{
    text-decoration: none;
    color: black;
}
.barra{
    background-color: rgba(137, 43, 226, 0.541);
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1pt;
    text-align: center;
}
.lateral{
    display: flex;
    text-align: center;
    background-color: blanchedalmond;
    justify-content: space-around;
}
.bl{
    margin: 1em;
}
.imagen{
    width: 39em;
}
.perfil{
    width: 16em;
}
.no{
    display: none;
}
:root{
    --marron:#400202;
}
h1{
    color: var(--marron);
}
h3{
    text-align: center;
}
#SobreMi{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    margin: 2em;
    height: 45em;
}
.y{
    width: 250pt;
    position: relative;
    top: 1em;
    font-size: 3em;
    text-align: center;
}
.k{
    width: 54em;
    height: 13em;
    font-size: 22px;
    padding: 2em;
    margin-top:1em;
}