*{
    text-decoration: none;
    color: var(--letra);
    align-items: center;
    background-color:var(--fondo);
}
.barra{
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1pt;
    text-align: center;
}
.lateral{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: var(--rojo);
}
.bl{
    margin: 1em;
    color: var(--fondo);
    background-color: var(--rojo);
    font-size:1.2em;
}
.imagen{
    width: 20em;
}
.perfil{
    width: 15em;
}
:root{
    --letra: #2E3532;
    --rojo: #8B2635;
    --fondo: #E0E2DB;

}
.titu{
    font-size: 3em;
}
h1,h3{
    color: var(--marron);

}
h3{
    text-align: center;
}
#SobreMi{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 2em;
    height: 45em;
}
.y{
    width: 14em;
    position: relative;
    top: 1em;
    font-size: 3em;
    text-align: center;
    color: #953a48;
}
.k{
    width: 54em;
    font-size: 22px;
    padding: 1.4em;
    margin: 2em;
    margin-bottom: 1em;
    text-align: justify;
}
.e{
    margin-top: 0.3em;
    width: 39em;
    border: 3px solid var(--rojo);
    border-radius: 2em;
}
.diferentesCerti{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.ingles, .excel{
    border: 3px solid var(--rojo);
    border-radius: 2em;
    width: 13em;
    height: 7em;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
}
.ingles p, .excel p, .info {
    display: none;
    margin-top: 10px;
}
.imagen-pequena {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.imagen-grande {
    width: 300px;
    transform: scale(1.5);
}
.botonV, .botonC{
    width: 4em;
    height: 3em;    border: 2px solid var(--rojo);
    background-color: #8b263596;
    border-radius: 1em;
    color: #48040e;
    cursor: pointer;
}
.botonC{
    width: 6em;
}
#Cosas {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 2em;
    height: 37em;
    align-content: space-around;
    justify-content: space-around;
}
.mision, .vision, .valores{
    width: 20em;
    text-align: justify;
    border: 3px solid var(--rojo);
    border-radius: 2em;
    padding: 1em;
}
.valores{
    width: 45em;
    margin-top: 3em;
}
.contato {
    border: 3px solid var(--rojo);
    border-radius: 2em;
    width: 28em;
    height: 13em;
    text-align: left;
    padding: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    left: 13em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-around;
}
#Objetivo {
    width: 33em;
    border: 3px solid var(--rojo);
    border-radius: 2em;
}
.servicios {
    width: 15em;
    border: 3px solid var(--rojo);
    border-radius: 2em;
    padding: 0.4em;
}
.proyecto {
    width: fit-content;
    border: 3px solid var(--rojo);
    border-radius: 2em;
    padding: 1em;
    text-align: center;
    margin: 1em;
}
.diferentesProyectos{
    display: flex;
}